:root {
  --duration: 0.2s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* max-width: 100%; */
  font-family: "Apple Garamond", serif;
  background: #f5f5f5;
  animation: appear 1s ease-in-out 0s 1 normal none;
}
section {
  scroll-margin-top: 120px; /* Slightly larger than your fixed header (92px) */
}
/* this is for the default size */
#canvas {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background: #f5f5f5;
  overflow-x: hidden;
}
/* this is the camera alignment */
#canva-camera {
  align-self: center;
  max-width: 1440px;

}
/* this is for the navigation */
.header-wrapper {
  width: 100%;
  height: 92px;
  position: fixed;
  background: #f5f5f5;
  z-index: 2;
}
/* to show hide the moblie home, photographer, camera, and gallery */
.nav-item-mobile {
  opacity: 0;
}
/* item inside the navigation */
.nav-item {
  display: flex;
  gap: 25px;
  /* display: flex; */
  justify-content: end;
  flex-wrap: nowrap;
  font-size: 24px;
  font-family: Inter, sans-serif;
  padding-right: 3%;
  margin-top: -55px;
}
/* for the display of the text */
.nav-item-color {
  color: #757575;
  text-decoration: none;
}
/* for the underline in the navigation */
.header-underline {
  display: flex;
  width: 95%;
  height: 4px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  background: #757575;
  border-radius: 47px;
  z-index: 11;
}
/* this is the top image */
.img-top {
  width: 100%;
  animation: appear 1s ease-in 0s 1 normal none;
}
/* this is for the hamburger buttons */
.hamburger {
  position: fixed;
  display: block;
  width: fit-content;
  padding-left: 2.5%;
  padding-top: 25px;
  z-index: 10;
}
/* this is the bar onn hamburger */
.bar {
  width: 27px;
  height: 4px;
  margin: 5px;
  opacity: 0.8;
  background: #757575;
  z-index: 10;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
/* this is for animating the hamburger button */
.hamburger.open .bar:nth-child(1) {
  transform: translate(0, 9px) rotate(45deg);
}
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
  transform: translate(0, -9px) rotate(135deg);
}
/* for the content on hamburger to be visible */
.content.visible {
  opacity: 1 !important;
}
/* this is the content on hamburger */
.content {
  filter: url(#liquidGlass);
  backdrop-filter: url(#liquidGlass);
  background-color: rgb(0 0 0 / 57%);
  backdrop-filter: blur(20px);
  display: flex;
  width: 180px;
  height: 200px;
  border-radius: 10%;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-top: 110px;
  border: 2px solid #cdcdcd;
  margin-left: 2.5%;
  margin-top: 38px;
  filter: blur(0.5px);
  gap: 20px;
  z-index: 9;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* the text inside the hamburger */
.content a {
  font-family: Inter, sans-serif;
  color: #d1d1d1;
  font-size: 24px;
  padding-top: 10px;
  text-decoration: none;
}
/* this is the home page */
.home {
  padding-top: 92px;
  margin-left: 50px;
  margin-bottom: 35px;
}
.home h1 {
  font-size: 180px;
  font-weight: 400;
}
.home h2 {
  font-size: 40px;
  margin-top: -40px;
  font-family: "Chivo Mono", monospace;
  font-weight: 400;
}
/* the quote under the */
.quote-div {
  display: flex;
  justify-content: center;
  margin: 100px;
  margin-top: 275px;
}
.quote-div p {
  font-size: 48px;
  font-family: "Chivo Mono", monospace;
  text-align: justify;
}
/* this is for the -fanho to position */
.quote-fanho {
  display: flex;
  justify-content: end;
  font-size: 48px;
  font-weight: 150;
  text-align: left;
  margin-right: 100px;
  margin-top: -100px;
  margin-bottom: 250px;
}
/* this is the layout on image of fanho */
.fanho-image {
  float: left;
  box-shadow: 11px 10px 15px rgba(29, 28, 28, 0.54);
  border-radius: 100%;
  width: 413px;
  height: 415px;
  margin-left: 100px;
  margin-right: 91px;
}
/* this is the image */
.fanho-image img {
  width: 600px;
  margin-left: -93px;
  margin-top: -70px;
}

.mobile-about-him {
  display: none; /* this is a variable for mobile */
}
/* this is the text of About Him */
.about-him {
  font-size: 64px;
  font-weight: 150;
}
/* this is the about him */
.about-him-text {
  font-size: 32px;
  text-align: justify;
  margin-right: 100px;
}
/* this is the layout */
.text-about-him {
  margin-bottom: 434px;
}
/* outer layout of camera */
.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}
/* inner layout */
.camera-image {
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 100%;
}
.camera img {
  width: 1004.86px;
  object-fit: cover;
  margin: -200px;
}
.camera p {
  text-align: center;
  font-size: 16px;
  font-weight: 150;
}
.camera-bottom-text {
  text-align: center;
}
.camera-bottom-text h3 {
  font-size: 48px;
}
.camera-bottom-text p {
  font-size: 16px;
  font-weight: 150;
}

.upper-left-camera {
  width: 1442.84px;
  filter: blur(8.8px);
  transform: translate(700px, -1500px) rotate(7deg);
}
.upper-right-camera {
  width: 461.95px;
  transform: translate(-180px, -2990px) rotate(79deg);
  filter: blur(8px);
}
.lower-left-camera {
  width: 929.73px;
  transform: translate(480px, -2250px) rotate(-194deg);
}
.lower-right-camera {
  width: 1000px;
  transform: translate(-480px, -3250px) rotate(151deg);
  filter: blur(8px);
}
/* for the camera background to align */
.design {
  margin-bottom: -3200px;
}
/* this is the gallery section */
.gallery-container {
  column-count: 2;
  column-gap: 30px;
  row-gap: 30px;
  margin: 20px;
}
.gallery-container img {
  width: 100%;
  margin-bottom: 30px;
}
.gallery-text {
  font-size: 96px;
  text-align: center;
  margin: 40px;
}
footer {
  text-align: center;
  font-size: 20px;
  color: #706a6a;
  font-family: Inter, sans-serif;
  margin-top: 280px;
  margin-bottom: 30px;
}
/* for telling the script to do something in that view */
.box{
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

/* effect gallery */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity var(--duration) ease-in-out;
}
.popup.show {
  opacity: 1;
}
.popup img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform var(--duration) ease-in-out;
}
.popup.show img {
  transform: scale(1);
}
.large {
  height: 1000px;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translatex(5%);
  }
  to {
    transform: translatex(0px);
  }
}
.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.show-normal {
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.move {
  animation: move 1s ease-in-out 0s 1 normal none;
}
.element:active {
  transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1.1);
}

@keyframes fade-in-top-normal {0% { transform: translateY(-50px); opacity: 0; } 100% { transform: translateY(0); opacity: 1;} }
/* Center */
.fade-in-top-normal { 
    animation: fade-in-top-normal 1.7s ease-in-out 0s 1 normal none; 
}
@keyframes slide-tl-normal {0% { transform: translateY(0) translateX(0); opacity: 0; } 100% { transform: translate(480px, -2250px) rotate(-194deg) ;opacity: 1} }
/* Bottom right */
.slide-tl-normal { 
    animation: slide-tl-normal 1s ease-in-out 0s 1 normal none; 
}
@keyframes slide-tr-normal {0% { transform: translateY(0) translateX(0); opacity: 0;} 100% { transform: translate(-480px, -3250px) rotate(151deg);opacity: 1} }
/* Bottom Left */
.slide-tr-normal { 
    animation: slide-tr-normal 1s ease-in-out 0s 1 normal none; 
}
@keyframes slide-bl-normal {0% { transform: translateY(0) translateX(0); opacity: 0;} 100% { transform: translate(700px, -1500px) rotate(7deg);opacity: 1} }
/* Upper Right */
.slide-bl-normal { 
    animation: slide-bl-normal 1s ease-in-out 0s 1 normal none; 
}
 @keyframes slide-br-normal {0% {transform: translateY(0) translateX(0); opacity: 0;} 100% { transform: translate(-180px, -2990px) rotate(79deg);opacity: 1} }
/* Upper Left */
.slide-br-normal { 
    animation: slide-br-normal 1s ease-in-out 0s 1 normal none; 
}
@media (max-width: 393px) {
  /* this is to show the about him top */
  .mobile-about-him {
    display: block;
    font-size: 122px;
    text-align: center;
    font-weight: 150;
  }
  /* to hide the other about him */
  .about-him {
    display: none;
  }
  /* resizing and positioning of fan ho image */
  .fanho-image {
    display: inline-block;
    box-shadow: 11px 10px 15px rgba(29, 28, 28, 0.54);
    border-radius: 100%;
    /* width: 413px; */
    /* height: 415px; */
    margin-left: 516px;
    margin-right: 470px;
    margin-bottom: 47px;
  }

  .about-him-text {
    font-size: 53px;
    text-align: justify;
    margin-right: 100px;
    align-self: center;
    width: 1245px;
    margin-left: 90px;
    /* padding-top: 145px; */
  }
  .home {
    padding-top: 92px;
    margin-left: 50px;
    margin-bottom: 35px;
    margin-top: 270px;
  }
  .hamburger {
    position: fixed;
    display: block;
    width: fit-content;
    padding-left: 2.5%;
    padding-top: 268px;
    z-index: 10;
  }
  .header-wrapper {
    width: 100%;
    height: 382px;
    position: fixed;
    background: #f5f5f5;
    z-index: 2;
  }
  .nav-item {
    display: none;
    gap: 25px;
    /* display: flex; */
    justify-content: end;
    flex-wrap: nowrap;
    font-size: 24px;
    font-family: Inter, sans-serif;
    padding-right: 3%;
    margin-top: -55px;
  }
  .header-underline {
    display: flex;
    width: 95%;
    height: 4px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 350px;
    background: #757575;
    border-radius: 47px;
  }
  .bar {
    width: 71px;
    height: 7px;
    margin: 14px;
    opacity: 0.8;
    background: #757575;
    z-index: 10;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  .quote-div p {
    font-size: 63px;
    font-family: "Chivo Mono", monospace;
    text-align: justify;
    margin-top: -106px;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: translate(0, 20px) rotate(45deg);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: translate(0, -20px) rotate(135deg);
  }
  .content {
    filter: url(#liquidGlass);
    backdrop-filter: url(#liquidGlass);
    backdrop-filter: blur(20px);
    display: flex;
    width: 95%;
    height: 126px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    border-radius: 5%;
    flex-direction: row;
    justify-content: center;
    padding-left: 25px;
    padding-top: 18px;
    border: 2px solid #cdcdcd;
    /* box-shadow: 11px 10px 15px rgba(29, 28, 28, 0.54); */
    margin-left: 2.5%;
    margin-top: 12px;
    filter: blur(0.5px);
    gap: 20px;
    z-index: 9;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .content a {
    font-family: Inter, sans-serif;
    font-size: 38px;
    padding-top: 19px;
    padding-right: 50px;
  }
  .nav-item-mobile {
    opacity: 1;
    padding-top: 18px;
  }
  .popup img {
    width: 80%;
  }
  footer {
    margin-top: 139px;
    margin-bottom: 30px;
    font-size: 33px;
  }
}
