/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --duration: 0.2s;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* max-width: 100%; */
  font-family: "Apple Garamond", serif;
  background: #f5f5f5;
  -webkit-animation: appear 1s ease-in-out 0s 1 normal none;
          animation: appear 1s ease-in-out 0s 1 normal none;
}
section {
  scroll-margin-top: 120px; /* Slightly larger than your fixed header (92px) */
}
/* this is for the default size */
#canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background: #f5f5f5;
  overflow-x: hidden;
}

/* this is for the navigation */
.header-wrapper {
  width: 100%;
  height: 92px;
  position: fixed;
  background: #f5f5f5;
  z-index: 2;
}
/* to show hide the moblie home, photographer, camera, and gallery */
.nav-item-mobile {
  opacity: 0;
}
/* item inside the navigation */
.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  /* display: flex; */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 24px;
  font-family: Inter, sans-serif;
  padding-right: 3%;
  margin-top: -55px;
}

/* for the display of the text */
.nav-item-color {
  color: #757575;
  text-decoration: none;
}
/* for the underline in the navigation */
.header-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 4px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  background: #757575;
  border-radius: 47px;
  z-index: 11;
}
/* this is for the hamburger buttons */
.hamburger {
  position: fixed;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2.5%;
  padding-top: 25px;
  z-index: 10;
}

/* this is the bar onn hamburger */
.bar {
  width: 27px;
  height: 4px;
  margin: 5px;
  opacity: 0.8;
  background: #757575;
  z-index: 10;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* this is for animating the hamburger button */
.hamburger.open .bar:nth-child(1) {
  -webkit-transform: translate(0, 9px) rotate(45deg);
      -ms-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg);
}
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
  -webkit-transform: translate(0, -9px) rotate(135deg);
      -ms-transform: translate(0, -9px) rotate(135deg);
          transform: translate(0, -9px) rotate(135deg);
}
/* for the content on hamburger to be visible */
.content.visible {
  opacity: 1 !important;
}
/* this is the content on hamburger */
.content {
  -webkit-filter: url(#liquidGlass);
          filter: url(#liquidGlass);
  -webkit-backdrop-filter: url(#liquidGlass);
          backdrop-filter: url(#liquidGlass);
  background-color: rgb(0 0 0 / 57%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 200px;
  border-radius: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
  padding-top: 110px;
  border: 2px solid #cdcdcd;
  margin-left: 2.5%;
  margin-top: 38px;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  gap: 20px;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* the text inside the hamburger */
.content a {
  font-family: Inter, sans-serif;
  color: #d1d1d1;
  font-size: 24px;
  padding-top: 10px;
  text-decoration: none;
}
/* this is the top image */
.img-top {
  width: 100%;
  -webkit-animation: appear 1s ease-in 0s 1 normal none;
          animation: appear 1s ease-in 0s 1 normal none;
}
/* this is the home page */
.home {
  padding-top: 92px;
  margin-left: 50px;
  margin-bottom: 35px;
}
.home h1 {
  font-size: 180px;
  font-weight: 400;
}
.home h2 {
  font-size: 40px;
  margin-top: -40px;
  font-family: "Chivo Mono", monospace;
  font-weight: 400;
}
/* the quote under the */
.quote-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
  margin-top: 275px;
}
.quote-div p {
  font-size: 48px;
  font-family: "Chivo Mono", monospace;
  text-align: justify;
}
/* this is for the -fanho to position */
.quote-fanho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 48px;
  font-weight: 150;
  text-align: left;
  margin-right: 100px;
  margin-top: -100px;
  margin-bottom: 250px;
}
/* this is the layout on image of fanho */
.fanho-image {
  float: left;
  -webkit-box-shadow: 11px 10px 15px rgba(29, 28, 28, 0.54);
          box-shadow: 11px 10px 15px rgba(29, 28, 28, 0.54);
  border-radius: 100%;
  width: 413px;
  height: 415px;
  margin-left: 100px;
  margin-right: 91px;
}
/* this is the image */
.fanho-image img {
  width: 600px;
  margin-left: -93px;
  margin-top: -70px;
}

.mobile-about-him {
  display: none; /* this is a variable for mobile */
}
/* this is the text of About Him */
.about-him {
  font-size: 64px;
  font-weight: 150;
}
/* this is the about him */
.about-him-text {
  font-size: 32px;
  text-align: justify;
  margin-right: 100px;
}
/* this is the layout */
.text-about-him {
  margin-bottom: 434px;
}
/* this is the camera alignment */
#canva-camera {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 1440px;

}
/* outer layout of camera */
.camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px;
}
/* inner layout */
.camera-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.camera img {
  width: 1004.86px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -200px;
}
.camera p {
  text-align: center;
  font-size: 16px;
  font-weight: 150;
}
.camera-bottom-text {
  text-align: center;
}
.camera-bottom-text h3 {
  font-size: 48px;
}
.camera-bottom-text p {
  font-size: 16px;
  font-weight: 150;
}

.upper-left-camera {
  width: 1442.84px;
  -webkit-filter: blur(8.8px);
          filter: blur(8.8px);
  -webkit-transform: translate(700px, -1500px) rotate(7deg);
      -ms-transform: translate(700px, -1500px) rotate(7deg);
          transform: translate(700px, -1500px) rotate(7deg);
}
.upper-right-camera {
  width: 461.95px;
  -webkit-transform: translate(-180px, -2990px) rotate(79deg);
      -ms-transform: translate(-180px, -2990px) rotate(79deg);
          transform: translate(-180px, -2990px) rotate(79deg);
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
.lower-left-camera {
  width: 929.73px;
  -webkit-transform: translate(480px, -2250px) rotate(-194deg);
      -ms-transform: translate(480px, -2250px) rotate(-194deg);
          transform: translate(480px, -2250px) rotate(-194deg);
}
.lower-right-camera {
  width: 1000px;
  -webkit-transform: translate(-480px, -3250px) rotate(151deg);
      -ms-transform: translate(-480px, -3250px) rotate(151deg);
          transform: translate(-480px, -3250px) rotate(151deg);
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
/* for the camera background to align */
.design {
  margin-bottom: -3200px;
}
/* this is the gallery section */
.gallery-container {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  margin: 20px;
}
.gallery-container img {
  width: 100%;
  margin-bottom: 30px;
}
.gallery-text {
  font-size: 96px;
  text-align: center;
  margin: 40px;
}
footer {
  text-align: center;
  font-size: 20px;
  color: #706a6a;
  font-family: Inter, sans-serif;
  margin-top: 280px;
  margin-bottom: 30px;
}
/* for telling the script to do something in that view */
.box{
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

/* effect gallery */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity var(--duration) ease-in-out;
  -o-transition: opacity var(--duration) ease-in-out;
  transition: opacity var(--duration) ease-in-out;
}
.popup.show {
  opacity: 1;
}
.popup img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform var(--duration) ease-in-out;
  transition: -webkit-transform var(--duration) ease-in-out;
  -o-transition: transform var(--duration) ease-in-out;
  transition: transform var(--duration) ease-in-out;
  transition: transform var(--duration) ease-in-out, -webkit-transform var(--duration) ease-in-out;
}
.popup.show img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@-webkit-keyframes fade-in-top-normal {0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0; } 100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;} }
@keyframes fade-in-top-normal {0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0; } 100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;} }
/* Center */
.fade-in-top-normal { 
    -webkit-animation: fade-in-top-normal 1.7s ease-in-out 0s 1 normal none; 
            animation: fade-in-top-normal 1.7s ease-in-out 0s 1 normal none; 
}
@-webkit-keyframes slide-tl-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0; } 100% { -webkit-transform: translate(480px, -2250px) rotate(-194deg) ; transform: translate(480px, -2250px) rotate(-194deg) ;opacity: 1} }
@keyframes slide-tl-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0; } 100% { -webkit-transform: translate(480px, -2250px) rotate(-194deg) ; transform: translate(480px, -2250px) rotate(-194deg) ;opacity: 1} }
/* Bottom right */
.slide-tl-normal { 
    -webkit-animation: slide-tl-normal 1s ease-in-out 0s 1 normal none; 
            animation: slide-tl-normal 1s ease-in-out 0s 1 normal none; 
}
@-webkit-keyframes slide-tr-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(-480px, -3250px) rotate(151deg); transform: translate(-480px, -3250px) rotate(151deg);opacity: 1} }
@keyframes slide-tr-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(-480px, -3250px) rotate(151deg); transform: translate(-480px, -3250px) rotate(151deg);opacity: 1} }
/* Bottom Left */
.slide-tr-normal { 
    -webkit-animation: slide-tr-normal 1s ease-in-out 0s 1 normal none; 
            animation: slide-tr-normal 1s ease-in-out 0s 1 normal none; 
}
@-webkit-keyframes slide-bl-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(700px, -1500px) rotate(7deg); transform: translate(700px, -1500px) rotate(7deg);opacity: 1} }
@keyframes slide-bl-normal {0% { -webkit-transform: translateY(0) translateX(0); transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(700px, -1500px) rotate(7deg); transform: translate(700px, -1500px) rotate(7deg);opacity: 1} }
/* Upper Right */
.slide-bl-normal { 
    -webkit-animation: slide-bl-normal 1s ease-in-out 0s 1 normal none; 
            animation: slide-bl-normal 1s ease-in-out 0s 1 normal none; 
}
 @-webkit-keyframes slide-br-normal {0% {-webkit-transform: translateY(0) translateX(0);transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(-180px, -2990px) rotate(79deg); transform: translate(-180px, -2990px) rotate(79deg);opacity: 1} }
 @keyframes slide-br-normal {0% {-webkit-transform: translateY(0) translateX(0);transform: translateY(0) translateX(0); opacity: 0;} 100% { -webkit-transform: translate(-180px, -2990px) rotate(79deg); transform: translate(-180px, -2990px) rotate(79deg);opacity: 1} }
/* Upper Left */
.slide-br-normal { 
    -webkit-animation: slide-br-normal 1s ease-in-out 0s 1 normal none; 
            animation: slide-br-normal 1s ease-in-out 0s 1 normal none; 
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translatex(5%);
            transform: translatex(5%);
  }
  to {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  
}

@keyframes move {
  from {
    -webkit-transform: translatex(5%);
            transform: translatex(5%);
  }
  to {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  
}
.move {
  -webkit-animation: move 1s ease-in-out 0s 1 normal none;
          animation: move 1s ease-in-out 0s 1 normal none;
}
.hidden {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.show {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.show-normal {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.element:active {
  -webkit-transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
      -ms-transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
          transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.img-size-gallery{
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  /* this is to show the about him top */
  #canvas{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .mobile-about-him {
    display: block;
    font-size: 122px;
    text-align: center;
    font-weight: 150;
  }
  /* to hide the other about him */
  .about-him {
    display: none;
  }
  /* resizing and positioning of fan ho image */
  .fanho-image {
    display: inline-block;
    margin-left: 516px;
    margin-right: 470px;
    margin-bottom: 47px;
  }
  .about-him-text {
    font-size: 53px;
    text-align: justify;
    margin-right: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 1245px;
    margin-left: 90px;
    /* padding-top: 145px; */
  }
  .home {
    padding-top: 92px;
    margin-left: 50px;
    margin-bottom: 35px;
    margin-top: 270px;
  }
  .header-wrapper {
    width: 100%;
    height: 382px;
    position: fixed;
    background: #f5f5f5;
    z-index: 2;
  }
  .nav-item {
    display: none;
  }
  .header-underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    height: 4px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 350px;
    background: #757575;
    border-radius: 47px;
  }
  .hamburger {
    padding-top: 268px;
  }
  .bar {
    width: 71px;
    height: 7px;
    margin: 14px;

  }
  .hamburger.open .bar:nth-child(1) {
    -webkit-transform: translate(0, 20px) rotate(45deg);
        -ms-transform: translate(0, 20px) rotate(45deg);
            transform: translate(0, 20px) rotate(45deg);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    -webkit-transform: translate(0, -20px) rotate(135deg);
        -ms-transform: translate(0, -20px) rotate(135deg);
            transform: translate(0, -20px) rotate(135deg);
  }
  .content {
    width: 95%;
    height: 126px;
    border-radius: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 18px;
    margin-top: 12px;
  }
  .content a {
    font-family: Inter, sans-serif;
    font-size: 38px;
    padding-top: 19px;
    padding-right: 50px;
  }
  .quote-div p {
    font-size: 63px;
    font-family: "Chivo Mono", monospace;
    text-align: justify;
    margin-top: -106px;
  }
  
  .nav-item-mobile {
    opacity: 1;
    padding-top: 18px;
  }
  .popup img {
    width: 80%;
  }
  footer {
    margin-top: 139px;
    margin-bottom: 30px;
    font-size: 33px;
  }
}